@import "../common/breakpoints.scss";
@import "../common/fonts.scss";
@import "../common/colors.scss";

.map_wrapper {
  width: 100%;
  .map__tittle {
    margin-left: 20px;
  }
  .map__description {
    @include time;
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-right: 20px;
    @include littleMobile {
      font-size: 16px;
    }
  }

  .map__import {
    width: 100%;
    height: 300px;
    @include tablet {
      height: 200px;
    }
  }
}
