@import "../common/breakpoints.scss";
@import "../common/fonts.scss";
@import "../common/colors.scss";

.map_wrapper {
  width: 100%;

  .map_wrapper__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
  }
  @include tablet {
    flex-direction: column;
  }
  .map__tittle {
    margin-left: 40px;
    @include mobile {
      margin-left: 20px;
    }
  }
  .map__description {
    font-size: 25px;
    font-style: italic;
    font-weight: 900;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-right: 20px;
    @include tablet {
      font-size: 20px;
    }
    @include mobile {
      font-size: 16px;
    }
  }
  .map__image {
    height: 100%;
    margin-left: 20px;
    border-radius: 18px;
    width: 40%;
    @include tablet {
      display: none;
    }
  }
  .map__import {
    width: 100%;
    border-radius: 38px;
    padding: 0 20px;
    @include tablet {
      width: 100%;
      border-radius: 0;
      height: 200px;
      padding: 0;
    }
  }
}
