@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700;800&display=swap");
@import "./colors.scss";
@import "./breakpoints.scss";

@mixin title {
  font-family: "Rubik", Arial, sans-serif;
  font-size: 50px;
  line-height: 2.375rem;
  @include tablet {
    font-size: 40px;
    line-height: 2.375rem;
  }
  @include mobile {
    font-size: 30px;
    line-height: 2.375rem;
  }
}

@mixin subTitle {
  font-family: "Rubik", Arial, sans-serif;
  font-size: 1.5rem;
  @include tablet {
    font-size: 1rem;
  }
}

@mixin linkBurgerMenu {
  font-family: "Rubik", Arial, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 2.375rem;
  @include tablet {
    font-size: 28px;
  }
}

@mixin scrollMenu {
  font-family: "Rubik", Arial, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 2.375rem;
  @include tablet {
    font-size: 22px;
  }
}

@mixin description {
  font-family: "Arial";
  font-weight: 400;
  font-style: italic;
  font-size: 26px;
  @include tablet {
    font-size: 22px;
  }
  @include mobile {
    font-size: 16px;
  }
}

@mixin contacts {
  font-family: "Arial";
  font-weight: 800;
  font-style: italic;
  font-size: 20px;
  text-decoration: none;
}

@mixin time {
  font-family: "Arial";
  font-weight: 900;
  font-size: 22px;
  @include mobile {
    font-size: 17px;
  }
}

@mixin catalogTitle {
  font-family: "Arial";
  font-weight: 900;
  font-size: 42px;
  @include tablet {
    font-size: 28px;
  }
}

@mixin catalogSubTitle {
  font-family: "Arial";
  font-weight: 900;
  font-size: 30px;
  @include tablet {
    font-size: 24px;
  }
  @include mobile {
    font-size: 20px;
  }
  @include middleMobile {
    font-size: 17px;
  }
  @include littleMobile {
    font-size: 16px;
  }
}

@mixin catalogDescription {
  font-family: "Arial";
  font-weight: 400;
  font-size: 26px;
  @include tablet {
    font-size: 18px;
  }
  @include mobile {
    font-size: 16px;
  }
}

@mixin contactTitle{
  font-family: "Arial";
  font-weight: 900;
  font-size: 26px;
  @include tablet {
    font-size: 22px;
  }
  @include mobile {
    font-size: 18px;
  }
}

@mixin PriceFont {
  font-family: "Rubik", Arial, sans-serif;
  font-size: 28px;
  @include tablet {
    font-size: 20px;
  }
}
