@import "../common/breakpoints.scss";
@import "../common/fonts.scss";
@import "../common/colors.scss";
@import "../common/common.scss";

.main {
  margin-top: 65px;
  .about-me__wrapper {
    background-color: $realWhite;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    margin-right: 20px;
    .subtitle {
      @include subTitle;
      margin: 5px 0 10px;
    }
    .description {
      @include description;
      color: $grey;
    }
    .about-me__car {
      display: none;
      @include mobile {
        display: inline;
        position: absolute;
        transition: all 1.2s ease-in;
        top: -35px;
        right: 10px;
        width: 100px;
      }
    }
    .about-me__car__click {
      @include mobile {
        right: 110%;
      }
    }
  }

  .main-catalog__menu__wrapper {
    padding-right: 20px;

    border: none;
    outline: none;
    .main-catalog__menu {
      display: block;
      @include scrollMenu;
      background-color: $backgroundMenuLightBlue;
      color: $grey;
      padding: 8px 20px;
      @include tablet {
        padding: 0px 20px;
      }
      border-radius: 28px;
      border: none;
      outline: none;
    }
    .main-catalog__menu__active {
      color: inherit;
      background-color: $realWhite;
    }
  }

  .main-catalog__item__wrapper {
    margin-top: 10px;
    padding-right: 20px;
    border: none;
    outline: none;
    .main-catalog__item {
      display: flex;
      flex-direction: column;
      background-color: $realWhite;
      border-radius: 10px;
      max-width: 500px;
      width: 50vw;
      padding: 10px 10px 10px 20px;
      margin: 5px 5px 8px 0;
      @include common-shadow;
      @include tablet {
        width: 65vw;
      }
      @include mobile {
        max-width: 270px;
        width: 70vw;
      }
      .main-catalog__item__header {
        display: flex;
        justify-content: space-between;
        .main-catalog__item__title {
          @include catalogTitle;
        }
        .main-catalog__status {
          display: block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: lawngreen;
        }
      }
      .main-catalog__item__content {
        display: flex;
        align-items: flex-start;
        .main-catalog__item__image {
          width: 50%;
          object-fit: cover;
          padding-top: 10px;
        }
        .main-catalog__item__description {
          margin: 0 10px;
          .main-catalog__item__description__title {
            @include catalogSubTitle;
            margin-top: 10px;
            margin-bottom: 4px;
          }
          .main-catalog__item__description__description {
            @include catalogDescription;
          }
        }
      }
    }
  }
}

.main-nav__wrapper {
  background-color: rgba(255, 255, 255, 0.74);
  border-radius: 15px;
  margin: 20px;
  display: flex;
  justify-content: space-around;
  @include tablet {
    display: none;
  }
  .main-nav__item {
    padding: 0 20px;
    @include scrollMenu;
    border: none;
    outline: none;
  }

  .main-nav__item__hidden{
    display: none;
  }
}

.common-title {
  @include title;
  color: $grey;
  margin: 40px 0 20px 20px;
  @include tablet {
    margin: 10px;
    margin-bottom: 5px;
  }
  @include mobile {
    margin: 5px 0 3px 0;
  }
}
