// @import "normalize.css";
@import "./styles/common/reset.scss";
@import "./styles/common/colors.scss";
@import "./styles/common/common.scss";

body {
  font-family: "Arial";
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: $backgroundBlue;
  margin: 0 auto;
  min-width: 320px;
  margin: 0 auto;
  max-width: 1440px;

}

.common__top-margin__wrapper{
  position: relative;
}

.common__top-margin{
  height: 80px;
  position: absolute;
  top: -65px;
}

.content{
  max-width: 1440px;
  margin: 0 auto;
}